<!DOCTYPE html>
<html>
  <head>
  <link type="text/css" rel="stylesheet" href="about.css">
    <title>About our project</title>
  </head>
  <body> 
    <h4 align="center" style="font-family:cursive;color: blue;font-size:40px"><strong><em>About our project</strong></em></h4>
    </div>
    <ul>
      <li><p align="left" style="color: red"><em><B>Project: </B></em><I style="color: black">Ha Noi Easy Traffic</I></p></li>
      <li><p align="left" style="color: red"><em><B>Programming Language: </B></em><I style="color: black">Ruby, HTML/CSS, Javascript</I></p></li>
      <li><p align="left" style="color: red"><em><B>Framework: </B></em><I style="color: black">Rails</I></p></li>
      <li><p align="left" style="color: red"><em><B>Overview Description: </B></em><I style="color: black">This is a web-based application provides user following services:</I></p></li>
      <ul>
          <li><p align="left" style="color: black;font-family:Monospace">View the traffic map of Ha Noi</li>
          <li><p align="left" style="color: black;font-family:Monospace">Find routes, buses</li>
          <li><p align="left" style="color: black;font-family:Monospace">Subscribes to the current road, weather condition and also traffic bandwidth</li>
          <li><p align="left" style="color: black;font-family:Monospace">View the statistic of traffic condition among months</li>
          <li><p align="left" style="color: black;font-family:Monospace">Provides and shares the traffic data (optional)</li>
          <li><p align="left" style="color: black;font-family:Monospace">Other features is in planning</li>
        </ul>
    </ul>
    <h4 align="left" style="color: purple;font-size:25;font-family:Georgia"><B><I>Members</I></B></h4>
      <ul align="left">
              <li><p align="left" style="color: green"><em><B>Nguyen Thac Thong </B></em><a href="https://www.facebook.com/codecademy">Friend us on <span>Facebook!</span></a></p></li>
              <li><p align="left" style="color: green"><em><B>Ngo Van Thien </B></em><a href="https://www.facebook.com/codecademy">Friend us on <span>Facebook!</span></a></p></li>
              <li><p align="left" style="color: green"><em><B>Phan Duy Thanh </B></em><a href="https://www.facebook.com/codecademy">Friend us on <span>Facebook!</span></a></p></li>
              <li><p align="left" style="color: green"><em><B>Bui Dinh Thanh </B></em><a href="https://www.facebook.com/codecademy">Friend us on <span>Facebook!</span></a></p></li>
              <li><p align="left" style="color: green"><em><B>Phi Thi Thu</B></em><a href="https://www.facebook.com/codecademy">Friend us on <span>Facebook!</span></a></p></li>
              <li><p align="left" style="color: green"><em><B>Nguyen Duc Thinh </B></em><a href="https://www.facebook.com/codecademy">Friend us on <span>Facebook!</span></a></p></li>
        </ul>  
    </div>  
     

  </body>
</html>