<!DOCTYPE html>
<html>
  <head>
  <link type="text/css" rel="stylesheet" href="about.css">
    <title>About our project</title>
  </head>
  <body> 

    <table width="988">
      <tr>
        <td colspan="2" style="background-color:#FFA700;">
          <h4 align="center" style="font-family:cursive;color: blue;font-size:35px"><strong><em>About our project</strong></em></h4>
        </td>
      </tr>
      <tr>
        <td style="background-color:yellow;width:60px;">
          <li>
            <a id="gc-logo" href="/welcome/index">
            <img src="/assets/logo.png" alt="Logo"></img>
            </a></li>
          <li></li>
          <li></li>
          <li><h4 align="left" style="color: purple;font-size:40;font-family:Times New Roman"><I>Class: K57CA</I></h4>
          <li><h4 align="left" style="color: purple;font-size:40;font-family:Times New Roman"><I>Department: Information Technology</I></h4>
          <li><h4 align="left" style="color: purple;font-size:40;font-family:Times New Roman"><I>University: VNU - UET</I></h4>
        </td>
        <td style="background-color:#EEEEEE;height:200px;width:400px;">
          <ul>
      <li><p align="left" style="color: red;white-space:pre"><em><B>Project: </B></em><I style="color: black">Ha Noi Easy Traffic</I></p></li>
      <li><p align="left" style="color: red;white-space:pre"><em><B>Programming Language: </B></em><I style="color: black">Ruby, HTML/CSS, Javascript</I></p></li>
      <li><p align="left" style="color: red;white-space:pre"><em><B>Framework: </B></em><I style="color: black">Rails</I></p></li>
      <li><p align="left" style="color: red"><em><B>Overview Description: </B></em><I style="color: black">This is a web-based application provides user following services:</I></p></li>
      <ul>
          <li><p align="left" style="color: black;font-family:Times New Roman">View the traffic map of Ha Noi</li>
          <li><p align="left" style="color: black;font-family:Times New Roman">Find routes, buses</li>
          <li><p align="left" style="color: black;font-family:Times New Roman">Subscribes to the current road, weather condition and also traffic bandwidth</li>
          <li><p align="left" style="color: black;font-family:Times New Roman">View the statistic of traffic condition among months</li>
          <li><p align="left" style="color: black;font-family:Times New Roman">Provides and shares the traffic data (optional)</li>
          <li><p align="left" style="color: black;font-family:Times New Roman">Other features is in planning</li>
        </ul>
    </ul>
    <ul>
              <li><h4 align="left" style="color: purple;font-size:40;font-family:Georgia"><B><I>Members</I></B></h4><a href="https://www.facebook.com/groups/800353059978931/">Friend us on <span>Facebook!</span></a></p></li> 
              <li><p align="left" style="color: green;font-family:Times New Roman;font-size:18px"><em>Nguyen Thac Thong, Ngo Van Thien, Bui Dinh Thanh, Phan Duy Thanh, Nguyen Duc Thinh, Phi Thi Thu. </em></p></li>
              <p align="left">-------------------------------------------------------------------------</p>
              <p align="center" style="color: green;font-family:Times New Roman;font-size:15px"><I><B>We are students of VNU - UET</B></I></p>
    </ul>  
    </td>
</tr>

<tr>
<td colspan="2" style="background-color:#FFA700;text-align:center;">
Copyright © uet.vnu.edu.vn</td>
</tr>
</table>
  </body>
</html>