<link href="templatemo_style.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="css/coda-slider.css" type="text/css" media="screen" charset="utf-8" />
    <div id="slider">
        <div class="panel" id="home">
            <h2 align="center" style="font-family:Cursive;color:red"><B><I>=====Hanoi Easy Traffic Application=====</h2></I></B>    
                <p style="font-size:16px;color:gray"><em>Đây là phần mềm giúp người dùng có thể tìm kiếm đường đến một địa điểm trong thành phố một cách hợp lý nhất theo yêu cầu người sử dụng</em></p>
        </div>
                    
        <div class="panel" id="aboutproject">
                <h2 style="color:blue;font-size:30;font-family:TimenewsRoman;"><em><B>Thông tin ứng dụng</B></em></h2>
                <div class="project">
                    <div class="header_01"><p style="font-size:10px"><em>[Bắt đàu vào ngày 02/02/2014]</em><p></div>
            <p>Đây là ứng dụng chạy trên nền web</p>
                        <div class="header_02"><B><a href="#">Tên ứng dụng:</a></B></div>     
                            <p>Ha Noi Easy Traffic.</p>
                        </div>
                            
                        <div class="project">
                            <div class="header_02"><a href="#">
                                <B>Ngôn ngữ lập trình:</B></a>
                            </div>   
                                <p>Ruby, HTML/CSS, Javascript.</p>
                        </div>
                            
                        <div class="project">
                            <div class="header_02"><a href="#">
                                <B>Framework:</B></a>
                            </div>    
                                <p>Rails.</p>
                            </div>
                                                
                            <div class="project">
                                <div class="header_02"><a href="#">
                                    <B>Ứng dụng cung cấp một số tiện ích cho người dùng:</B></a></div>
                                    <ul>  
                                        <li><p> Xem bản đồ Thành phố Hà Nội</p></li>
                                        <li><p> Tìm đường đi giữa hai địa điểm (đường bộ, ô tô, xe bus...)</p></li>
                                        <li><p> Xem thông tin thời tiết</p></li>
                                        <li><p> Xem thông tin về lịch sử một tuyến đường trong một khoảng thời gian cụ thể</p></li>
                                        <li><p> Ứng dụng cung cấp thông tin, dữ liệu giao thông thành phố (optional)</p></li>
                                    </ul>
                            </div>
                        </div>
                    
                        <div class="panel" id="aboutus">
                            <h2 style="color:blue;font-size:30;font-family:TimenewsRoman;"><em><B>Thông tin thành viên dự án</em></B></h2>
                            <div class="header_02"><a href="#">
                                <B><p>Chúng tôi là những sinh viên lớp K57CA Trường Đại học Công Nghệ - Đại học Quốc Gia Hà Nội.</p></B></a></div>
                <div class="header_02"><a href="#"><B><p>Chúng tôi gồm các thành viên:</p></B></a></div>
                                <ol>
                                    <li>Nguyễn Thạc Thống</li>
                                    <li>Ngô Văn Thiện</li>
                                    <li>Phan Duy Thành</li>
                                    <li>Nguyễn Đức Thịnh</li>
                                    <li>Phí Thị Thu</li>
                                    <li>Bùi Đình Thành</li>
                                </ol>
                            <div class="header_02"><a href="#">
                                <p><B><em>Đây là dự án của môn học Công nghệ phần mềm</em></B></p>
                            </div>
                    </div>                   
                </div>
        </div>
    </div>