<div class=indent-body>
<div id="wiki-content">
  <div class="wrap">
  <div id="wiki-body" class="gollum-markdown-content instapaper_body">
    <div class="markdown-body">
      

<h1>
<a name="-group5k57ca" class="anchor" href="#-group5k57ca"><span class="octicon octicon-link"></span></a><strong># group5.k57ca</strong>
</h1>

<ul>
<li>Project: Ha Noi Easy Traffic</li>
<li>Programming Language: Ruby, HTML/CSS, Javascript</li>
<li>Framework: Rails</li>
<li>Overview Description:
This is a web-based application provides user following services:

<ul>
<li>View the traffic map of Ha Noi</li>
<li>Find routes, buses</li>
<li>Subscribes to the current road, weather condition and also traffic bandwidth</li>
<li>View the statistic of traffic condition among months</li>
<li>Provides and shares the traffic data (optional)</li>
<li>Other features is in planning</li>
</ul>
</li>
</ul>
    </div>
  </div>
  </div>

</div>
</div>>
