
<%  provide(:title,"About Us") %>
<div class="about-us">  
  <div class="graphics">    
    <%= image_tag("logo.png",class: "logo-icon")%>
  </div>
  <div class="about-text">
    <h1>About Us</h1>
    <ul>
      <li>Project : Hanoi Easy Traffic</li>
      <li>Group: 5 - K57CA - University of Engineering and Technology</li>
      <li>Languages and Frameworks: Ruby/Rails, HTML/CSS/Bootstrap, JavaScript/Jquery/Dom</li>
      <ul>
        <li>View the traffic map of Ha Noi</li>
        <li>Find routes, buses</li>
        <li>Subscribes to the current road, weather condition and also traffic bandwidth</li>
        <li>View the statistic of traffic condition among months</li>
        <li>Provides and shares the traffic data (optional)</li>
        <li>Other features is in planning</li>
      </ul>
    </ul>
  </div>
</div>


