<%  provide(:title,"About Us") %>
<div class="about-us">  

  <div id="col-about" class="col">
      <div id="z1" class="about-zone">
        <div style="padding: 10px, 0">
          <<h1 >About Us</h1>
        </div>
      </div>

      <div id="z2" class="about-zone" style="padding: 10px;">
        <ul>
          <li> Dự án : Hanoi Easy Traffic</li>
          <li> Nhóm: 5 - K57CA - Đại học Công Nghệ - ĐHQG</li>
          <li> Languages and Frameworks: Ruby/Rails, HTML/CSS/Bootstrap, JavaScript/Jquery/Dom</li>
        </ul>
      </div>

      <div id="z3" class="about-zone">
        </br>
        <ul>
            <li> Xem bản đồ giao thông của Hà Nội</li></br>
            <li> Tìm đường đi, các tuyến xe buýt</li></br>
            <li> Theo dõi tình hình thời tiếc và tình hình ác tắc giao thông</li></br>
            <li> Cung cấp và chia sẻ thông tin giao thông </li></br>
            <li> Các tính năng khác đang được lên kế hoạch...</li>
        </ul>
      </div>  
    </div>

  
    
        
