<% provide(:title,"About Us") %>
<div class="contact">
  <table>
    <td>
    <form class="contact-form" action="mailto:eveeret@gmail.com" enctype="text/plain">
      <div>
        <label class="contact-label" for="name">Name:</label></br>
        <input type="text" id="name" name="user_name" />
      </div>
      <div>
        <label class="contact-label" for="mail">E-mail:</label></br>
        <input type="email" id="mail" name="user_email" />
      </div>
      <div>
        <label class="contact-label" for="msg">Bạn vui lòng điền nội dung liên hệ và góp ý bên dưới:</label></br>
        <textarea id="msg" name="user_message"></textarea>
      </div>
      <div class="button">
        <button class="contact-button" type="submit">
          Gửi
        </button>
      </div>
    </form></td>
    <td>
    <div>
      <div id="map-canvas2" class="nopad" ></div>
      &nbsp;
      <div id="warnings_panel" ></div>
      <script type="text/javascript">
		initialize2();
      </script>
    </td>
</div>
</table>

</div>

