 <div class="indent-body">
    <h1>Welcome</h1>
    <h2>Test HTML</h2>
    <p>Again, welcome</p>
    <u>Don't try to press the button</u>
    <p></p>
    <button class="btn btn-danger">Welcome</button>
    <p>See, it does nothing. Anyway, welcome.</p>
    <p>BTW we have a better UI now :v </p>
 </div>

<div class="alert alert-danger mar-alert"><strong>Hold on!</strong> Our website is currently under development, stay tune for more info.</div>