<script type='text/javascript'>
    $(document).ready(function() {
        $('#mapCanvas').width($('#mapCanvas').parent().width());
        $('#mapCanvas').height($(window).height() - 150);
        $(".panel-heading")
                .mouseover(function() {
                    $(this).addClass('mouseover');
                })
                .mouseout(function() {
                    $(this).removeClass('mouseover');
                });

        $(".panel-heading").click(function(e) {
            e.preventDefault(); //prevent the link from actually navigating somewhere
            $(this).toggleClass("clicked");
            $(".panel-heading").not(this).removeClass("clicked"); //remove the clicked class from all other elements
        });
    });

    $(window).load(function(){
        $.asm = {};
        $.asm.panels = 2;
        
        function sidebar(panels) {
            $.asm.panels = panels;
            if (panels === 1) {
                $('#sidebar').hide();
                $('#map').removeClass('col-md-9')
                $('#mapCanvas').width($('#mapCanvas').parent().width());
                $('#mapCanvas').height($(window).height() - 150);
            } else if (panels === 2) {
                $('#map').addClass('col-md-9')
                $('#sidebar').show();
                $('#mapCanvas').width($('#mapCanvas').parent().width());
                $('#mapCanvas').height($(window).height() - 150);
                return google.maps.event.trigger($.asm.theMap, 'resize');
            }
        };

        $('#toggleSidebar').click(function() {
            if ($.asm.panels === 1) {
                $('#toggleSidebar i').addClass('glyphicon-chevron-left');
                $('#toggleSidebar i').removeClass('glyphicon-chevron-right');
                return sidebar(2);
            } else {
                $('#toggleSidebar i').removeClass('glyphicon-chevron-left');
                $('#toggleSidebar i').addClass('glyphicon-chevron-right');
                return sidebar(1);
            }
        });

        $(function() {
            $.asm.theMap = new google.maps.Map(document.getElementById('mapCanvas'));
        });
    });
</script>

<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div id="sidebar" class="col-md-3 panel-group sidebar custom-height-sidebar ">
      <div class="panel-group" id="accordion">
        <!-- Title -->
        <div class="panel panel-default option-style">
          <a data-toggle="collapse" data-parent="#accordion" href="#feature1">
            <div class="panel-heading">
              <h4 class="panel-title">
                Feature 1
              </h4>
            </div>
          </a>
          <!-- Body -->
          <div id="feature1" class="panel-collapse collapse">
            <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="panel panel-default option-style">
          <a data-toggle="collapse" data-parent="#accordion" href="#feature2">
            <div class="panel-heading">
            <h4 class="panel-title">
                Feature 2
            </h4>
            </div>
          </a>
          <div id="feature2" class="panel-collapse collapse">
            <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="panel panel-default option-style">
          <a data-toggle="collapse" data-parent="#accordion" href="#feature3">
            <div class="panel-heading">
              <h4 class="panel-title">
                Feature 3
              </h4>
            </div>
          </a>
          <div id="feature3" class="panel-collapse collapse">
            <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="panel panel-default option-style">
          <a data-toggle="collapse" data-parent="#accordion" href="#feature4">
            <div class="panel-heading">
              <h4 class="panel-title">
                Feature 4
              </h4>
            </div>
          </a>
          <div id="feature4" class="panel-collapse collapse">
            <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="panel panel-default option-style">
          <a data-toggle="collapse" data-parent="#accordion" href="#feature5">
            <div class="panel-heading">
              <h4 class="panel-title">
                Feature 5
              </h4>
            </div>
          </a>
          <div id="feature5" class="panel-collapse collapse">
            <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="panel panel-default option-style">
          <a data-toggle="collapse" data-parent="#accordion" href="#feature6">
            <div class="panel-heading">
              <h4 class="panel-title">
                Feature 6
              </h4>
            </div>
          </a>
          <div id="feature6" class="panel-collapse collapse">
            <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
      </div>
    </div>
    <a id="toggleSidebar" class="toggles"><i class="glyphicon glyphicon-chevron-left"></i></a>
    <div id ="map" class="col-md-9 nopad">
      <iframe id="mapCanvas" src="../welcome/map"></iframe>
    </div>
  </div>
</div>