<div class="container-fluid">
      <div class="row">
        <div class="col-md-3 sidebar custom-height-sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Current feature</a></li>
            <li><a href="#">Feature 1</a></li>
            <li><a href="#">Feature 2</a></li>
            <li><a href="#">Feature 3</a></li>
            <li><a href="#">Feature 4</a></li>
            <li><a href="#">Feature 5</a></li>
            <li><a href="#">Feature 6</a></li>
          </ul>
        </div>
        <div class="col-md-9">  
          <iframe src="/welcome/map" width="1000" height='530px' frameBorder="0"></iframe>
        </div>
      </div>
    </div>