<%= render 'layouts/left_slidebar' %>
<div id="map-canvas" class="col-md-9 nopad">
	<div id="over-map">
      <a id="toggleSidebar" class="toggles"><i class="glyphicon glyphicon-chevron-left"></i></a>
    </div>
</div>  
<script type="text/javascript">  
  initializeMap('map-canvas','pac-input');
</script>
