<div class="container-fluid" style="background-color: #f5f5f5;">
  <div class="row">
    <!-- Sidebar -->
    <div id="sidebar" class="col-md-3 panel-group sidebar">
      <div class="panel-group" id="accordion">
        <!-- Title -->
        <div class="panel panel-default option-style">
          <a class="link-to-page" data-toggle="collapse" data-parent="#accordion" href="#feature1">
          <div class="panel-heading findroute findroute-normal">
            <h4 class="panel-title">Tìm đường </h4>
          </div> </a>
          <!-- Body -->
          <div id="feature1" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="title-details">
                <p>
                  Chọn phương tiện
                </p>
              </div>
              <div class="vehicle-icon">
                <div rel="car" class="vehicle-type vehicle-car"></div>
                <div rel="bus" class="vehicle-type vehicle-bus"></div>
                <div rel="bike1" class="vehicle-type vehicle-bike"></div>
                <div rel="walk" class="vehicle-type vehicle-walk"></div>
              </div>
              <div class="route-input">
                <div class="input-box" text-align="center">
                  <input class="input-text form-control" id="start-place" type="text" placeholder="Enter start place">
                </div>
                <div class="input-box" text-align="center">
                  <input class="input-text form-control" id="end-place" type="text" placeholder="Enter second place">
                </div>
                <div class="submit-box">
                  <button type="submit" class="submit-btn btn btn-primary show-btn" style="width: 60px;">
                    <span class="glyphicon"> Show </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default option-style">
          <a data-toggle="collapse" data-parent="#accordion" href="#feature2">
          <div class="panel-heading traffic-jam traffic-jam-normal">
            <h4 class="panel-title"> Danh sách ùn tắc </h4>
          </div> </a>
          <div id="feature2" class="panel-collapse collapse">
            <div class="panel-body">
              In developing!
            </div>
          </div>
        </div>
        <div class="panel panel-default option-style">
          <a data-toggle="collapse" data-parent="#accordion" href="#feature3">
          <div class="panel-heading weather">
            <h4 class="panel-title"> Thời tiết </h4>
          </div> </a>
          <div id="feature3" class="panel-collapse collapse">
            <div class="panel-body">
              In developing!
            </div>
          </div>
        </div>
        <div class="panel panel-default option-style">
          <a data-toggle="collapse" data-parent="#accordion" href="#feature4">
          <div class="panel-heading">
            <h4 class="panel-title"> Feature 4 </h4>
          </div> </a>
          <div id="feature4" class="panel-collapse collapse">
            <div class="panel-body">
              In developing!
            </div>
          </div>
        </div>
        <div class="panel panel-default option-style">
          <a data-toggle="collapse" data-parent="#accordion" href="#feature5">
          <div class="panel-heading">
            <h4 class="panel-title"> Feature 5 </h4>
          </div> </a>
          <div id="feature5" class="panel-collapse collapse">
            <div class="panel-body">
              In developing!
            </div>
          </div>
        </div>
        <div class="panel panel-default option-style">
          <a data-toggle="collapse" data-parent="#accordion" href="#feature6">
          <div class="panel-heading">
            <h4 class="panel-title"> Feature 6 </h4>
          </div> </a>
          <div id="feature6" class="panel-collapse collapse">
            <div class="panel-body">
              In developing!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="map-canvas" class="nopad"></div>
  <script type="text/javascript">
	google.maps.event.addDomListener(window, 'load', initialize);
  </script>

  <div id="over-map">
    <a id="toggleSidebar" class="toggles"><i class="glyphicon glyphicon-chevron-left"></i></a>
  </div>
</div>
</div>
<script type="text/javascript">var hgt = $('.container-fluid').height();</script>

