.indent-body {
    margin: 5%;
}

#gc-googlebar{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    min-width:952px;
    width:auto !important;
    width:952px;
    position:relative;
    background:#f1f1f1;
    border-bottom:1px solid #e5e5e5;
    height:77px;
    margin:0;
    overflow:hidden;
    padding:24px 44px;
    color:rgba(255,255,255,0.5);
}

#gc-logo{
    display:block;
    height:37px;
    vertical-align:top;
    text-decoration:none;
    position:absolute;
}
#gc-logo img{
    width:200px;
    vertical-align:top;
    top:-12px;
    left:-4px;
    position:relative;
}

.gc-search{
    position:absolute;
    left:270px;
    right:308px;
    width:570px;
}

#search-full{
    font-size:10px;
}

.custom-navbar{
    min-height : 35px !important;
    margin-bottom: 0px !important;
}

.custom-searchbox{
    width: 500px;
}

.custom-form{
    width: 490px !important;
}

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-top: 15px;
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 15px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}

.custom-height-sidebar {
    height: 535px;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; 
}

.alertx {
  padding: 15px;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-radius: 4px;
}
