.accordion-inner-small {
    padding: 4px 8px;  /*9px 15px;*/
    border-top: 1px solid #e5e5e5;
}

.no-sidebar {
    margin-left:0 !important;
}

.scrollDiv {
    overflow-y: scroll;
    display: inline-block;
    float: none; /* Very important */
}*/