#mapCanvas {
    width: 1020px;
    height: 545px;
    border: 0px;
}

#mapCanvas-span {
    width: 1200px;
    height: 545px;
    border: 0px;
}
#maincont{
    margin-top: 42px;
}

#toggleSidebar {
    float:left;
    color:#779DD7;
    padding:2px 4px;
}




.accordion-heading .accordion-toggle-small {
    display: block;
    padding: 4px 8px; /*8px 15px;*/
}

.accordion-inner-small {
    padding: 4px 8px;  /*9px 15px;*/
    border-top: 1px solid #e5e5e5;
}

.no-sidebar {
    margin-left:0 !important;
}

.scrollDiv {
    overflow-y: scroll;
    display: inline-block;
    float: none; /* Very important */
}