<!-- Sidebar -->
<div id="sidebar" class="col-md-3 panel-group sidebar">
  <div class="panel-group" id="accordion">
    <!-- Title -->
    <div class="panel panel-default option-style">
      <a class="link-to-page" data-toggle="collapse" data-parent="#accordion" href="#feature1">
      <div class="panel-heading find-route">
        <h4 class="panel-title">Find Route </h4>
      </div> </a>
      <!-- Body -->
      <div id="feature1" class="find-route panel-collapse collapse">
        <div class="panel-body">
          <div class="title-details">
            <p>
              Choose vehicle:
            </p>
          </div>
          <div class="vehicle-icon bottom-space-standard">
            <div rel="car" class="vehicle-type car"></div>
            <div rel="bus" class="vehicle-type bus"></div>
            <div rel="bike1" class="vehicle-type bike"></div>
            <div rel="walk" class="vehicle-type walk"></div>
          </div>
          <div class="route-input">
            <div class="input-box bottom-space-standard" text-align="center">
              <input class="input-text form-control" id="start-place" type="text" placeholder="Enter start place">
            </div>
            <div class="input-box bottom-space-standard" text-align="center">
              <input class="input-text form-control" id="end-place" type="text" placeholder="Enter second place">
            </div>
            <div class="submit-box bottom-space-standard">
              <button type="submit" class="submit-btn btn btn-primary find-btn" style="width: 60px;">
                <span class="glyphicon glyphicon glyphicon-hand-right"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default option-style">
      <a data-toggle="collapse" data-parent="#accordion" href="#feature2">
      <div class="panel-heading traffic-information">
        <h4 class="panel-title"> Traffic Information </h4>
      </div> </a>

      <div id="feature2" class="panel-collapse collapse">
        <div class="panel-body">
          <button id="traffic-button" type="submit" class="submit-btn btn btn-primary" style="width: 60px;">
            Show
          </button>
          <a href="/submit" class="submit-btn btn btn-primary">Submit</a>
        </div>
      </div>
    </div>

    <div class="panel panel-default option-style">
      <a data-toggle="collapse" data-parent="#accordion" href="#feature3">
      <div class="panel-heading weather">
        <h4 class="panel-title"> Weather </h4>
      </div> </a>
      <div id="feature3" class="panel-collapse collapse">
        <div class="panel-body">
          <select class="weather-select-box form-control" >
            <option value="1581130">Ha Noi</option>
            <option value="1562798">Nghe An</option>
            <option value="1591527">Bac Ninh</option>
            <option value="1591527">Bac Giang</option>
            <option value="1581326">Hai Duong</option>
            <option value="1562548">Vinh Phuc</option>
          </select>
          <div class="current-weather"></div>
        </div>
      </div>
    </div>

  </div>
</div>
